* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,
html {
    font-size: 20px;
   

   
}

         /* hover for all start */
.hover:hover{
   
    border:2px solid #fff;
    padding:3px;
    
    
}

         /* hover ends */


.navbar {

    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;



}



/* navbar logo */

.navbar-logo {

    width: 200px;

}



.logo img {
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.nav-search {
    display: flex;

}

.nav-search:hover{
    border:4px solid orange;
    border-radius:10px;
 

 
}

.nav-search:hover input,input{
    border: none;
}



.search-input {
    width: 750px;
    height: 7vh;

}

.search-left {
    width: 78px;
    height:7vh;
    border: 2px solid white;
    border-top-left-radius: 7px;
    border-end-start-radius: 7px;
    color: black;
    align-items: center;
    background-color: rgb(170, 164, 164);
    text-align: center;
}

.search-right {
    width: 78px;
    height: 7vh;
    background-color: orange;
    color: black;
    border: 2px solid white;
    border-top-right-radius: 7px;
    border-end-end-radius: 7px;


}

.shopping-section{
    background-color:rgb(222, 240, 248);
}

.panal{
    width:100%;
    height:8vh;
}


.panel-all ul {
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgb(55, 54, 54);
    width: 100%;
    height:6vh;
}

.panel-all ul li a
{
    text-decoration: none;
    color: #fff;
    font-weight:700px;
     


}

.link-remove{
    text-decoration: none;
    color:rgb(20, 18, 18);
    font-weight:700px;
   
   


}

.panel-all ul li {
    list-style: none;
   
}







.box {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 400px;
    background-color: #ffffff;
    margin: 50px;
}

.box-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-image img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 373px;
    width: 400px;
    pointer-events: none;

}

.box-content a {
    color: black;
    text-decoration: none;
}


.no-underline{
  list-style: none;
    padding: 13px;
}


.bg-dark{
    background-color: rgb(51, 50, 50);
}


